---
import { NAV_ITEMS, SOCIAL_MEDIA_ITEMS } from 'src/config';

const { url } = Astro;
const { pathname } = url;
---

<nav id="nav">
  <ul class="links">
    {
      NAV_ITEMS.map((item) => {
        return (
          <li class={pathname === item.path ? 'active' : ''}>
            <div class="dropdown">
              <a href={item.path} class="dropbtn">
                {item.title}{' '}
              </a>
              {item.dropDown != null ? (
                <div class="dropdown-content">
                  {item.dropDown.map((dropItem) => {
                    return <a href={dropItem.link}>{dropItem.title}</a>;
                  })}
                </div>
              ) : (
                ''
              )}
            </div>
          </li>
        );
      })
    }
  </ul>
  <ul class="icons">
    {
      SOCIAL_MEDIA_ITEMS.map((item) => {
        return (
          <li>
            <a href={item.path} class={`icon brands ${item.iconClass}"`}>
              <span class="label">{item.title}</span>
            </a>
          </li>
        );
      })
    }
    <!-- <li>
      <a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
    </li>
    <li>
      <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
    </li>
    <li>
      <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
    </li>
    <li>
      <a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a>
    </li> -->
  </ul>
</nav>
